					<!-- Contact -->
          <section id="contact">
            <!-- Social -->
              <div class="social column">
                <h3>Qui est Gérôme le Maubelan - Cuistot pour ost </h3>
                <p>Cuisinier-mercenaire de son état, il parcourt les compagnies pour parfaire ses connaissances culinaires. Actuellement il a posé ses gamelles au sein de la troupe d’un seigneur dauphinois en pleine Guerre de cents. </p>
                <p>Curieux il cherche à découvrir toutes les histoires de cuisine de chaque marchant passant par les terres du dauphin. </p>
                <p>Il se débrouille toujours pour imaginer un plat avec ce qu'il trouve. Il s'assure qu'il y ait toujours quelque chose à manger qui ferait plaisir à chacun et qui comblerait une dent creuse.</p>
                <p>Sa devise : Simplicate et excellentia.
                  Son leitmotiv : Au travail on fait se qu'on peut, à table on se force.</p>
                <p>Calendrier 2020 :
                  Bring Out Your Dead !!!
                 </p>

                <h3>Suivez moi !! </h3>
                <ul class="icons">
                  <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                  <li><a href="https://www.facebook.com/Gérômeme-le-Maubelan-Cuistot-pour-ost-403446563788108" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                  <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                </ul>
              </div>

							<!-- Form -->
              <div class="column">
                <h3>Get in Touch</h3>
                <form action="#" method="post">
                  <div class="field half first">
                    <label for="name">Name</label>
                    <input name="name" id="name" type="text" placeholder="Name">
                  </div>
                  <div class="field half">
                    <label for="email">Email</label>
                    <input name="email" id="email" type="email" placeholder="Email">
                  </div>
                  <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
                  </div>
                  <ul class="actions">
                    <li><input value="Send Message" class="button" type="submit"></li>
                  </ul>
                </form>
              </div>

          </section>
  
  <!-- Footer -->
  <footer id="footer">
    <div class="copyright">
      &copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
    </div>
  </footer>
</section>
</div>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.poptrox.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

</body>
</html>