<div class="content">
  <div class="media all people">
    <a href="images/recettes/01.jpg"><img src="images/recettes/01.jpg" alt="" title="This right here is a caption." /></a>
  </div>
  <div class="media all place">
    <a href="images/recettes/05.jpg"><img src="images/recettes/05.jpg" alt="" title="This right here is a caption." /></a>
  </div>
  <div class="media all thing">
    <a href="images/recettes/09.jpg"><img src="images/recettes/09.jpg" alt="" title="This right here is a caption." /></a>
  </div>
  <div class="media all people">
    <a href="images/recettes/02.jpg"><img src="images/recettes/02.jpg" alt="" title="This right here is a caption." /></a>
  </div>
  <div class="media all place">
    <a href="images/recettes/06.jpg"><img src="images/recettes/06.jpg" alt="" title="This right here is a caption." /></a>
  </div>
  <div class="media all thing">
    <a href="images/recettes/10.jpg"><img src="images/recettes/10.jpg" alt="" title="This right here is a caption." /></a>
  </div>
  <div class="media all people">
    <a href="images/recettes/03.jpg"><img src="images/recettes/03.jpg" alt="" title="This right here is a caption." /></a>
  </div>
  <div class="media all place">
    <a href="images/recettes/07.jpg"><img src="images/recettes/07.jpg" alt="" title="This right here is a caption." /></a>
  </div>
  <div class="media all thing">
    <a href="images/recettes/11.jpg"><img src="images/recettes/11.jpg" alt="" title="This right here is a caption." /></a>
  </div>
  <div class="media all people">
    <a href="images/recettes/04.jpg"><img src="images/recettes/04.jpg" alt="" title="This right here is a caption." /></a>
  </div>
  <div class="media all place">
    <a href="images/recettes/08.jpg"><img src="images/recettes/08.jpg" alt="" title="This right here is a caption." /></a>
  </div>
  <div class="media all thing">
    <a href="images/recettes/12.jpg"><img src="images/recettes/12.jpg" alt="" title="This right here is a caption." /></a>
  </div>
</div>
</div>
</section>
