<%- include('partials/header') %>

<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h1>Bonjour & Bienvenue</h1>
			<p>Vous cherchez un cuistot médiéval ? </p>
			<ul class="actions">
				<li><a href="#galleries" class="button alt scrolly big">Quelques recettes ?</a></li>
			</ul>
		</div>
	</section>

<!-- Gallery -->
	<section id="galleries">

		<!-- Photo Galleries -->
			<div class="gallery">
				<header class="special">
					<h2>Quelques recettes</h2>
				</header>

<%- include('partials/galleryImg') %>
<%- include('partials/footer') %>